.switch-wrapper-toggle {
  display: flex;
  align-items: center;
  gap: 1rem;

  /* chave mágica: altera a segunda com base na primeira */
}

.switch-toggle {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  background: #1C1F21;
  border-radius: 1rem;
  border: 1px solid var(--input-stroke);;
  cursor: pointer;
}

.switch-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.switch-indicator-toggle {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  width: calc(50% - 0.5rem);
  height: calc(100% - 0.5rem);
  background: #383D42;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.switch-toggle input:checked + .switch-indicator-toggle {
  transform: translateX(calc(100% + 0.5rem));
  background-color: white;
}

/* Oculta a checkbox da segunda */
.switch-text input {
  display: none;
}

.switch-label::after {
  content: "Escuro";
   font: var( --body-sm);
   color: var(--text-heading);
}

/* Aqui está a mágica: se a #toggle-main estiver checada, muda o texto */
.switch-wrapper-toggle:has(#toggle-main:checked) .switch-label::after {
  content: "Claro";
}
 .switch-toggle:has(#toggle-main:checked){
  background-color: #59B2FF;
}

.flex-3{
  flex: 1;
}

.flex-4{
  flex: 2;
}