.switch-container{
  position: relative;
  display: flex;
  overflow: hidden;
  height: 3rem;
  width: 100%;
  border-radius: .5rem;
  border: 1px solid var(--input-placeholder);
  font: var(--body-md);
  color: var(--input-placeholder);
  padding: 0;
  z-index: 0;
}

.switch-container input[type=radio]{
  display: none;
}

.option-label {
  flex: 1;
  cursor: pointer;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 0;
}

.option-label .icon{
  content: "";
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 0.3s ease-in-out;
}

.option-in-person .icon{
  background-image: url(/assets/icons/presencial.svg);
}
.option-online .icon{
  background-image: url(/assets/icons/online.svg);
}

.switch-indicator {
  position: absolute;
  top: .25rem;
  left: .25rem;
  width: calc(50% - .5rem); 
  height: calc(100% - .5rem);
  border-radius: .25rem;
  background-color: #383D42;
  transition: transform 0.3s ease-in-out;
  z-index: 1;
}

/* Estado selecionado */
.switch-container:has(#online:checked) .switch-indicator {
  transform:translateX(calc(100% + 0.50rem));
}

/* Ícones azuis quando selecionado */
.switch-container:has(#in-person:checked) .option-in-person .icon {
  background-image: url(/assets/icons/presencial-select.svg);
}

.switch-container:has(#online:checked) .option-online .icon {
  background-image: url(/assets/icons/online-select.svg);
}